# Ignore Python cache files
__pycache__/
*.pyc

# Ignore JetBrains IDE settings
.idea/

# Ignore environment files
.env
.venv/

Vispro.zip
lama_test.py
test_run_time.py
test_run_time_large.py
tiff_run_time.py
train/


